# --- EXISTING DEPENDENCIES ---
opencv-python
numpy
mediapipe
#face_recognition
sounddevice
soundfile
SpeechRecognition
vosk
pyttsx3
requests
pydub
#simpleaudio
openai
elevenlabs
google-genai
python-dotenv

# --- NEW UI DEPENDENCIES ---
customtkinter      # Modern UI framework
Pillow             # Advanced image processing for UI textures
darkdetect         # Helps CustomTkinter sync with System Theme
